body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  background-color: #e9eae2;
}
.header__left-side {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__right-side {
  position: relative;
  width: 31%;
  background-color: #7acec3;
}
.header__right-side:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  bottom: 50%;
  -webkit-transform: skewY(-40deg);
      -ms-transform: skewY(-40deg);
          transform: skewY(-40deg);
}
/* Размеры включают в себя border, padding */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Замена длинного текста многоточием */
input[placeholder] {
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  text-overflow: ellipsis;
}
input:-moz-placeholder {
  text-overflow: ellipsis;
}
input:-ms-input-placeholder {
  text-overflow: ellipsis;
}
/* курсор для label отменяет выделение при клике */
label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* ТОлько вертикальный ресайз для textarea */
textarea {
  resize: vertical;
}
/* Убираем дефолтный курсив */
address {
  font-style: normal;
}
/* Адаптивный img */
img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}
/* Перенос слов */
.break-word {
  word-wrap: break-word;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body,
html {
  height: 100%;
}
img,
fieldset,
a img {
  border: none;
}
input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}
ul,
ol {
  list-style-type: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
}
.l {
  width: 100%;
  display: inline-block;
}
.l .l-col1 {
  float: left;
  width: 20%;
}
.l .l-col2 {
  float: right;
  width: 70%;
}
/* Начало проекта */
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1265px;
  background-color: #ffeeff;
}
.projects__left-side {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fefefe;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects__right-side {
  width: 31%;
  background-color: #7acfed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects__right-item-7 {
  height: 250px;
  background-color: #dfe0d9;
}
.projects__right-item-8 {
  background-color: #f7f7f3;
  height: 465px;
}
.projects__right-item-9 {
  background-color: #fff;
  height: 250px;
}
.projects__right-item-10 {
  background-color: #ebb240;
  height: 300px;
}
.projects__section-1 {
  height: 500px;
  background-color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.projects__section-2 {
  height: 465px;
  background-color: tomato;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.projects__section-3 {
  height: 300px;
  background-color: blue;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.projects__left-item-1 {
  position: relative;
  width: 45%;
  background-color: #ebb240;
  overflow: hidden;
}
.projects__left-item-1:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  bottom: 50%;
  -webkit-transform: skewY(-40deg);
      -ms-transform: skewY(-40deg);
          transform: skewY(-40deg);
}
.projects__left-item-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
}
.projects__left-item-3 {
  width: 29%;
  background-color: #6f7d88;
}
.projects__left-item-4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #e6e6e6;
}
.projects__left-item-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fcfcfc;
}
.projects__left-item-6 {
  width: 29%;
  background-color: #cecece;
}
