.projects {
  display: flex;
  height: 1265px;
  background-color: #ffeeff;


      &__left-side {
  flex: 1;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;

}
    &__right-side{
  width: 31%;
    background-color: #7acfed;
    display: flex;
    flex-direction: column;

}

    &__item {
  
}
    &__right-side-item-1 {
  height: 250px;
  background-color: #dfe0d9;

}

    &__right-side-item-2 {
  background-color: #f7f7f3;
  height: 465px;

}

    &__right-side-item-3 {
  background-color: #fff;
  height: 250px;

}
    &__right-side-item-4 {
  background-color: #ebb240;
  height: 300px;

}

    &__section-1 {
  height: 500px;
  background-color: red;
  display: flex;

}

    &__section-2 {
  height: 465px;
  background-color: tomato;
  display: flex;

}

    &__section-3 {
  height: 300px;
  background-color: blue;
  display: flex;

}

    &__left-side--item-1 {
  position: relative;
  width: 45%;
  background-color: #ebb240;
  overflow: hidden;

}
    &__left-side--item-1:after { 
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  bottom: 50%;
  transform: skewY(-40deg);

}

    &__left-side--item-2 {
  flex: 1;
  background-color: #fff;

}

    &__left-side--item-3 {
  width: 29%;
  background-color: #6f7d88;

}
    &__left-side--item-4 {
  flex: 1;
  background-color: #e6e6e6;

}

    &__left-side--item-5 {
 flex: 1;
  background-color: #fcfcfc;

}
    &__left-side--item-6 {
  width: 29%;
  background-color: #cecece;
  
}


  
}

