.news {
  background-color: #e5e9df;
  min-height: @main-height;

  &__inner {
    display: flex;
    min-height: @main-height;
  }

     &__left {
  background-color: #d4edbf;
  overflow: hidden;
  width: 31%;
  .title__block

}
    &__right {
 flex: 1;
 display: flex;

}

&__item + &__item  {
  margin-left: 8%;
}

&__item {
  max-width: 370px;
}


}

.news-right__inner {
   width: 73%;
  margin: auto;
  display: flex;
  color: @item-color;
  font-family: @ff-main;

}

.n-right__title {
  text-transform: uppercase;
  min-height: 50px;

}

.nr-i2__title {
  color: #cecece;
}

.n-right__img, .n-right__text {
  margin-top: 20px;
}

.n-right__text {
  font-size: @list-font-s;
  min-height: 80px
}


.n-right__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @link-color;
  margin-top: 10px;
  text-align: right;
}
