.projects {
  position: relative;
  display: flex;
  min-height: 1265px;
  background-color: #ffeeff;
  
    @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px) {
        flex-direction: column;
        align-items:stretch;
      }

          @media only screen
      and (min-width: 320px) 
      and (max-width: 568px)
       { 
       flex-direction: column;
        align-items:stretch;
        width: 100%;
       
      }
  

      &__left-side {
  flex: 1;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  
    @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px) {
        
       
        
      }

        @media only screen 
      and (max-width: 568px)
       { 
       flex-direction: column;
        align-items:stretch;
        width: 100%;
       
      }

}
    &__right-side{
    width: 31%;
    display: flex;
    flex-direction: column;
    
     @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px)
       {   
        flex-direction: row;
        flex-wrap:wrap;
        width: 100%;
      }

         @media only screen 
      and (max-width: 568px)
       { 
       flex-direction: column;
        align-items:stretch;
        width: 100%;
       
      }


}

    &__right-item-7 {
  min-height: 250px;
  background: #dfe0d9;
  
    @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px)
       { 
        padding-top: 200px;
      width: 30%;  
       
      }

         @media only screen 
      and (max-width: 568px)
       { 
       
       
      }
  

}

    &__right-item-8 {
      padding-top: 300px;
  min-height: 465px;
  background: #f7f7f3;
  
  @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px)
       { 
      
      width: 70%;  
       
      }

         @media only screen 
      and (max-width: 568px)
       { 
        padding-top: 67%;
       
      }


}

    &__right-item-9 {
  min-height: 250px;
  background: #fff;
  


  
  @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px)
       { 
      width: 50%;  
       
      }


}
    &__right-item-10 {
  height: 100%;
  background-color: #ebb240;
  min-height: 300px;
  height: 100%;
  .title__block;
  
    @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px)
       { 
      width: 50%;  
       
      }

           @media only screen
      and (min-width: 320px) 
      and (max-width: 568px)
       { 
       display: none;
       
      }





}

    &__section-1 {
  min-height: @main-height;
  display: flex;
  
    @media only screen
      and (max-width: 568px)
       { 
       flex-direction: column;
        align-items:stretch;
        width: 100%;
       
      }



}

    &__section-2 {
  min-height: 465px;
  display: flex;
  
   @media only screen
      and (min-width: 768px) 
      and (max-width: 1024px)
       { 
        min-height: 360px;
       
      }

         @media only screen 
      and (max-width: 568px)
       { 
       flex-direction: column;
        align-items:stretch;
        width: 100%;
       
      }

   

}

    &__section-3 {
  display: flex;
  min-height: 300px;
  
     @media only screen
      and (max-width: 568px)
       { 
       flex-direction: column;
        align-items:stretch;
        width: 100%;
       
      }

}

    &__left-item-1 {
  background-color: #ebb240;
  overflow: hidden;
  width: 41%;
  .title__block;
  

}

    &__left-item-2 {
  flex: 1;
  

}

    &__left-item-3 {
  width: 29% ;
  background: #eaeaea url(../../images/bg_item-3.jpg) repeat-x;
  
      @media only screen 
      and (max-width: 568px)
       { 

        min-height: 400px;
       
      }

       @media only screen
      and (min-width: 1025px) 
      and (max-width: 1424px)
       { 
        width: 35% ;
       
      }
}
    &__left-item-4 {
  flex: 1;
  background: #eaeaea ;


}

    &__left-item-5 {
  flex: 1;
  background: #fcfcfc;

}
    &__left-item-6 {
  width: 29%;
  background-color: #cecece;

}

&__nav-container {
  margin-top: 10.625em;
  margin-left: 36%;
}

  
}

.item-10__inner {
margin-top: 13%;
margin-left: 20%;
font-family: @ff-main;

}

.item-10__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: @mid-font-s;
  color: @item-color;

}

.projects__left-item-2 {

  .item__inner {
    margin-left: 14%;
    
        @media only screen 
      and (max-width: 568px)
       { 

        margin-left: 3%;
       
      }
  }

  .item__title {
    margin-top: 10%;
  }

  .item__btn, .item__rate {
  margin-top: 75px;
  
      @media only screen 
      and (max-width: 568px)
       { 

        margin-top: 35px;
       
      }

}


}

.projects__left-item-3 {
  color: #fefefe;
  


.item__descriptions {
color: #fefefe;

}

.item__btn {
  margin-top: 30px;
}



}

.projects__left-item-4 {

  .item__inner {
   display: flex;
   margin-top: 50px;
   margin-left: 40%;
   
     @media only screen 
      and (max-width: 568px)
       { 
        margin-top: 50%;
       margin-left: 7%;
       
      }   
  }

    .item__rate {
  
          @media only screen 
      and (max-width: 568px)
       { 

        margin-left: 40px;
       
      }
    }

  .item__btn {
    margin-left: 35px;
  }
}

.projects__left-item-5 {

  .item__inner {
   display: flex;
   margin-top: 140px;
   margin-left: 13%;
   
     @media only screen 
      and (max-width: 568px)
       { 
       margin-top: 20%;
       
      }
    
  }

  .item__btn {
    margin-top: 50px;
    margin-left: 45px;
    display: flex;
    
      @media only screen 
      and (max-width: 568px)
       { 
       display: block;
       margin-top: 30px;
       margin-left: 10px;
       
      }

      .item__rate {
        margin-top: 0;
        margin-left: 50px;
        
          @media only screen 
      and (max-width: 568px)
       { 

        margin-top: 45px;
       
      }
        

      }

      .item-btn {
        height: 20px;

      }
    }
     .item__title {
      margin-top: 25px;
      margin-bottom: 0;
      
    }
}



.projects__left-item-6 {

  .item__inner {
    float: right;
    margin-top: 30px;
    

        @media only screen 
      and (max-width: 568px)
       { 

        margin-right: 7%;
       
      }

      .item__btn {
        margin-top: 25px;
      }
    }
}

.projects__right-item-7 {

  .item__descriptions  {
    max-width: 250px;

      .item__title {
        margin-bottom: 10px;
      }    
  }

    .item__descriptions p {
      text-transform: none;   
    }

    .item__btn {
      margin-top: 15px;

      .item__rate {
        margin-top: 15px;
      }
  }
}

.projects__right-item-8 {
  
  .item__inner {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    

        
          @media only screen 
      and (max-width: 568px)
       { 

        align-items: flex-end;
       
      }
    
    .item__btn, .item__rate {
     height: 55px;
     margin-left: 15px;
     
    }


    .item__rate {
        @media only screen 
      and (max-width: 568px)
       { 
        
        margin-top: 10px;
        margin-left: 20px;
       
      }
    }
  }


}

.projects__right-item-9 {
  .item__inner {
    float: right;
    margin-right: 70px;
    
        @media only screen 
      and (max-width: 568px)
       { 
       margin-right: 0px;
       
      }
    
    .item__title {
      margin-bottom: 10px;
    }
  }

   .item__btn {
      margin-top: 20px;
    }

}


.item {

  overflow: hidden; 
     @media only screen
      and (min-width: 320px) 
      and (max-width: 568px)
       { 
      
        width: 100%;
       
      }
}




